* {
  margin: 0;
  padding: 0;
}

/*Element*/
h1,
h2 {
  font-family: "Megrim", cursive;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}

ul {
  font-family: "Kaushan Script", cursive;
  font-size: 28px;
}

h1,
h2,
p,
ul {
  color: #fff;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

/*Class*/
.contact-icon {
  font-size: 28px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media query for desktop and above */
@media (min-width: 992px) {
.name {
  position: relative;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 800px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}}
